.first-letter::first-letter{

    text-transform: uppercase;

}

/* --------------------------------------- */

.pokemon{

    display: flex;
    flex-direction: column;
    background-color: #C1E8E2;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 7.5%; 
    align-items: center;

}

.pokemon-header{

    width: 90%;
    padding: 5%;
    padding-bottom: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pokemon-header-title-area{

    display: flex;
    width: 100%;
    max-width: 365.5px;
    justify-content: space-around;
    align-items: center;

}

.pokemon-header-title{

    border: 1px solid #000;
    max-height: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 2.2% 3%;
    column-gap: 5%;

}

.pokemon-header-type-title{
    
    margin: 2% 0;
    border-radius: 10px;
    padding: 2.2% 3%;

}

.pokemon-header-title-pokemon::first-letter{

    text-transform: uppercase;

}

.pokemon-header-title-name{

    margin-left: -2.5%;

}

.pokemon-header-title-pokemon{
 
    margin-left: 0%;

}

.pokemon-header-type{

    width: 90%;
    margin: 2.5% 0%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
    max-width: 300px;

}

.pokemon-header-type-area{

    display: flex;
    flex-direction: row;

    width: 60%;
    column-gap: 15%;
    align-items: center;
    justify-content: center;

}

.pokemon-header-type-p{

    margin: 2% 0;
    width: 30%;
    border-radius: 10px;
    padding: 4% 3%;

}

.pokemon-header-type-p::first-letter{

    text-transform: uppercase;

}

.pokemon-main{

    width: 90%;
    margin: 0% 5%;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 300px;

}

.pokemon-main-img-area{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #000;

}

.pokemon-main-stats-area{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    column-gap: 5%;

}

.pokemon-main-stats-column{

    min-width: 100%;

}