.type{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(141, 213, 201, 0.542);

}

.title-type{

    margin-top: 2.5%;
    margin-bottom: 1.5%;
    max-width: 120px;
    text-align: center;

    padding: 1%;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    width: 50%;
    transition: .5s;

}

.title-type::first-letter{

    text-transform: uppercase;

}

.type-area{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;

    width: 90%;
    padding: 2.5% 5%;

}

@media (max-width: 400px){

    .title-type{

        margin-top: 4%;

    }

}