.pokemon-card{

    display: flex;
    flex-direction: column;
    min-width: 195px;
    max-width: 195px;
    align-items: center;
    justify-content: center;

}

.pokemon-card-img{

    width: 50%;

}